:root {
    --principal: #762A44;
    --Oscuro: #212121;
    --blanco: #FFF;
    --Azul: #014e82;
    --fuentePrincipal: 'Montserrat', sans-serif;
    --grisClaro: #BDC3C7;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1 rem = 10px */
    ;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* utilidades */
.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

h1,
h2,
p,
a {
    font-family: var(--fuentePrincipal);
    line-height: 1;
}

h1 {
    font-size: 2.8rem;
    font-weight: bold;
    text-transform: uppercase;
}

p {
    font-size: 1.4rem;
}

a {
    text-decoration: none;
}

.center-t {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-width {
    max-width: 100%;
    margin: auto auto;
}

/* navegacion */
.header {
    margin-bottom: 5%;
}

.navegacion {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--principal);
}

.min {
    text-transform: none;
    font-weight: normal;
    color: var(--blanco);
    margin: 0;
    padding: 20px 0px;
}

h1 span {
    font-weight: bold;
}

@media (max-width: 768px) {
    .min {
        font-size: 1.8rem;
    }
}

/* buscador */
.buscador {
    width: 55%;
    height: 45px;
    font-size: 20px;
    font-family: var(--fuentePrincipal);
    border-radius: 10px;
    border: 1px solid var(--grisClaro);
}

.active {
    background: var(--principal);
    opacity: .98;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
}

/* Mapa */
.mapa {
    width: 100%;
    margin: auto;
    margin-bottom: 5rem;
    overflow: hidden;
}

@media (max-width: 1098px) {
    .mapa {
        overflow: scroll;
    }
}


/* Button */
button {
    background-color: var(--principal);
    color: var(--blanco);
    text-transform: uppercase;
    font-size: 10px;
    font-family: var(--fuentePrincipal);
    font-weight: bold;
}

button:hover {
    background-color: var(--Azul);
    cursor: pointer;
}

.botones {
    width: 1100px;
}

.filtro {
    visibility: hidden;
}

/* estilo de botones de salones */
.h {
    width: 50px;
    height: 55px;
    border-radius: 4px;
    border: 2px solid var(--Oscuro);
    position: relative;
    top: -295px;
    left: 253px;
}

.h1 {
    width: 60px;
    height: 45px;
    border-radius: 4px;
    border: 2px solid var(--Oscuro);
    position: relative;
    top: -415px;
    left: 665px;
}

.h2 {
    width: 70px;
    height: 45px;
    border-radius: 4px;
    border: 2px solid var(--Oscuro);
    position: relative;
    top: -274px;
    left: 770px;
}

.h3 {
    width: 45px;
    height: 70px;
    border-radius: 4px;
    border: 2px solid var(--Oscuro);
    position: relative;
    top: -340px;
    left: 860px;
    transform: scale(1.1);
}

.h5 {
    width: 75px;
    height: 60px;
    border-radius: 4px;
    border: 2px solid var(--Oscuro);
    position: relative;
    top: -405px;
    left: 695px;
}

.h6 {
    width: 45px;
    height: 65px;
    border-radius: 4px;
    border: 2px solid var(--Oscuro);
    position: relative;
    top: -340px;
    left: 835px;
}

.o2 {
    width: 50px;
    height: 40px;
    border-radius: 4px;
    border: 2px solid var(--Oscuro);
    position: relative;
    top: -185px;
    left: 520px;
}

.o5 {
    width: 70px;
    height: 40px;
    border-radius: 4px;
    border: 2px solid var(--Oscuro);
    position: relative;
    top: -415px;
    left: 365px;
}

.o {
    width: 50px;
    height: 20px;
    border-radius: 4px;
    border: 2px solid var(--Oscuro);
    position: relative;
    top: -375px;
    left: 305px;
}

.g {
    width: 50px;
    height: 40px;
    border-radius: 4px;
    border: 2px solid var(--Oscuro);
    position: relative;
    top: -220px;
    left: 198px;
}

.g2 {
    width: 100px;
    height: 25px;
    border-radius: 4px;
    border: 2px solid var(--Oscuro);
    position: relative;
    top: -155px;
    left: 92px;
    transform: scaleX(1.1);
}

.n {
    width: 30px;
    height: 65px;
    border-radius: 4px;
    border: 2px solid var(--Oscuro);
    position: relative;
    top: -160px;
    left: -45px;
}

.d {
    width: 30px;
    height: 55px;
    border-radius: 4px;
    border: 2px solid var(--Oscuro);
    position: relative;
    top: -240px;
    left: -65px;
}

.j {
    width: 30px;
    height: 55px;
    border-radius: 4px;
    border: 2px solid var(--Oscuro);
    position: relative;
    top: -320px;
    left: -110px;
}

.k {
    width: 30px;
    height: 73px;
    border-radius: 4px;
    border: 2px solid var(--Oscuro);
    position: relative;
    top: -345px;
    left: -220px;
}

.e {
    width: 80px;
    height: 25px;
    border-radius: 4px;
    border: 2px solid var(--Oscuro);
    position: relative;
    top: -270px;
    left: -260px;
}

.c {
    width: 30px;
    height: 78px;
    border-radius: 4px;
    border: 2px solid var(--Oscuro);
    position: relative;
    top: -185px;
    left: -315px;
}

.b {
    width: 30px;
    height: 78px;
    border-radius: 4px;
    border: 2px solid var(--Oscuro);
    position: relative;
    top: -160px;
    left: -402px;
}

.a {
    width: 30px;
    height: 78px;
    border-radius: 4px;
    border: 2px solid var(--Oscuro);
    position: relative;
    top: -200px;
    left: -492px;
}

.f {
    width: 30px;
    height: 55px;
    border-radius: 4px;
    border: 2px solid var(--Oscuro);
    position: relative;
    top: -293px;
    left: -510px;
}

.m {
    width: 30px;
    height: 70px;
    border-radius: 4px;
    border: 2px solid var(--Oscuro);
    position: relative;
    top: -400px;
    left: -527px;
}

.z {
    width: 30px;
    height: 40px;
    border-radius: 4px;
    border: 2px solid var(--Oscuro);
    position: relative;
    top: -393px;
    left: 424px;
}

.v {
    width: 60px;
    height: 65px;
    border-radius: 4px;
    border: 2px solid var(--Oscuro);
    position: relative;
    top: -328px;
    left: 278px;
}

.x {
    width: 30px;
    height: 55px;
    border-radius: 4px;
    border: 2px solid var(--Oscuro);
    position: relative;
    top: -400px;
    left: 215px;
}

.w {
    width: 30px;
    height: 55px;
    border-radius: 4px;
    border: 2px solid var(--Oscuro);
    position: relative;
    top: -405px;
    left: 117px;
}

.q {
    width: 30px;
    height: 55px;
    border-radius: 4px;
    border: 2px solid var(--Oscuro);
    position: relative;
    top: -335px;
    left: 73px;
}

.t {
    width: 30px;
    height: 50px;
    border-radius: 4px;
    border: 2px solid var(--Oscuro);
    position: relative;
    top: -405px;
    left: 15px;
}

.r {
    width: 30px;
    height: 50px;
    border-radius: 4px;
    border: 2px solid var(--Oscuro);
    position: relative;
    top: -345px;
    left: -53px;
}

.u {
    width: 45px;
    height: 40px;
    border-radius: 4px;
    border: 2px solid var(--Oscuro);
    position: relative;
    top: -450px;
    left: -130px;
}

.s {
    width: 30px;
    height: 75px;
    border-radius: 4px;
    border: 2px solid var(--Oscuro);
    position: relative;
    top: -372px;
    left: -173px;
}

.r2 {
    width: 30px;
    height: 60px;
    border-radius: 4px;
    border: 2px solid var(--Oscuro);
    position: relative;
    top: -280px;
    left: -176px;
}

.q2 {
    width: 30px;
    height: 45px;
    border-radius: 4px;
    border: 2px solid var(--Oscuro);
    position: relative;
    top: -275px;
    left: -173px;
}

.p {
    width: 70px;
    height: 50px;
    border-radius: 4px;
    border: 2px solid var(--Oscuro);
    position: relative;
    top: -210px;
    left: -97px;
}

.f2 {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    border: 2px solid var(--Oscuro);
    position: relative;
    top: -420px;
    left: -5px;
}

.m2 {
    width: 30px;
    height: 20px;
    border-radius: 4px;
    border: 2px solid var(--Oscuro);
    position: relative;
    top: -420px;
    left: 2px;
}

.l {
    width: 45px;
    height: 30px;
    border-radius: 4px;
    border: 2px solid var(--Oscuro);
    position: relative;
    font-size: 8px;
    top: -292px;
    left: -132px;
}

.x2 {
    width: 40px;
    height: 20px;
    border-radius: 4px;
    border: 2px solid var(--Oscuro);
    position: relative;
    font-size: 8px;
    top: -490px;
    left: -290px;
}

.i {
    width: 30px;
    height: 20px;
    border-radius: 4px;
    border: 2px solid var(--Oscuro);
    position: relative;
    font-size: 8px;
    top: -410px;
    left: 62px;
}

/* estilo de ventana modal */
.modal-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
    margin-top: 2%;
}

.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    background-color: #fff;
    width: 600px;
    max-width: 100%;
    padding: 30px 30px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;

}

@media (min-width: 768px) {
    .modal-v2 {
        width: 1000px;
        max-width: 100%;
    }

    .modal-v3 {
        width: 800px;
        max-width: 100%;
    }
}



/* footer */
.footer {
    background: var(--Oscuro);
    height: 10rem;
    color: var(--blanco);
    margin-top: 8rem;
}

.Copyright {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
}

.Copyright p {
    font-size: 1.5rem;
}