:root {
    --principal: #762A44;
    --Oscuro: #212121;
    --blanco: #FFF;
    --Azul: #014e82;
    --fuentePrincipal: 'Montserrat', sans-serif;
    --grisClaro: #BDC3C7;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1 rem = 10px */
    ;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* utilidades */
.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

h1,
h2,
p,
a {
    font-family: var(--fuentePrincipal);
    line-height: 1;
}

h1 {
    font-size: 2.8rem;
    font-weight: bold;
    text-transform: uppercase;
}

p {
    font-size: 1.4rem;
}

a {
    text-decoration: none;
}

.center-t {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-width {
    /* width: 100%; */
    max-width: 100%;
    margin: auto auto;
}

/* navegacion */
.header {
    width: 100%;
    margin-bottom: 5%;
}

.navegacion {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--principal);
}

.min {
    text-transform: none;
    font-weight: normal;
    color: var(--blanco);
    margin: 0;
    padding: 20px 0px;
}

h1 span {
    font-weight: bold;
}

@media (max-width: 768px) {
    .min {
        font-size: 1.8rem;
    }
}

/* buscador */
.buscador {
    width: 55%;
    height: 45px;
    font-size: 20px;
    font-family: var(--fuentePrincipal);
    border-radius: 10px;
    border: 1px solid var(--grisClaro);
}

.active {
    background: var(--principal);
    opacity: .98;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
}

/* Mapa */
.mapa {
    width: 100%;
    margin: auto;
    margin-bottom: 5rem;
    position: relative;
   
    /* overflow: hidden; */
}

@media (max-width: 1098px) {
    .mapa {
        overflow: scroll;
    }
}


/* Button */
button {
    width: 100%;
    height: 100%;
    background-color: var(--principal);
    color: var(--blanco);
    text-transform: uppercase;
    font-size: 10px;
    font-family: var(--fuentePrincipal);
    border-radius: 4px;
    /* border: 2px solid var(--Oscuro); */
    font-weight: bold;
}

button:hover {
    background-color: var(--Azul);
    cursor: pointer;
}

.botones {
    width: 1100px;
}

.filtro {
    visibility: hidden;
}

/* estilo de botones de salones */
.h {
    width: 48px;
    height: 65px;
    position: absolute;
    top: 490px;
    left: 739px;
}

.h1 {
    width: 56px;
    height: 60px;
    position: absolute;
    top: 340px;
    left: 839px;
}

.h2 {
    width: 66px;
    height: 66px;
    position: absolute;
    top: 530px;
    left: 822px;
}

.h3 {
    width: 51px;
    height: 84px;
    position: absolute;
    top: 423px;
    left: 857px;
   
}


.h5 {
    width: 81px;
    height: 78px;
    position: absolute;
    top: 341px;
    left: 922px;
}


.h6 {
    width: 44px;
    height: 77px;
    position: absolute;
    top: 429px;
    left: 957px;
   
}

.o2 {
    width: 50px;
    height: 49px;
    position: absolute;
    top: 640px;
    left: 827px;
}

.o5 {
    width: 69px;
    height: 56px;
    position: absolute;
    top: 340px;
    left: 728px;
}

.o {
    width: 50px;
    height: 29px;
    position: absolute;
    top: 405px;
    left: 738px;
}

.g {
    width: 50px;
    height: 45px;
    position: absolute;
    top: 596px;
    left: 735px;
}

.g2 {
    width: 119px;
    height: 28px;
    position: absolute;
    top: 687px;
    left: 678px;
  
}

.n {
    width: 28px;
    height: 84px;
    position: absolute;
    top: 654px;
    left: 648px;
}

.d {
    width: 23px;
    height: 70px;
    position: absolute;
    top: 556px;
    left: 666px;
}

.j {
    width: 30px;
    height: 69px;
    position: absolute;
    top: 457px;
    left: 647px;
}

.k {
    width: 27px;
    height: 91px;
    position: absolute;
    top: 412px;
    left: 574px;
}

.e {
    width: 82px;
    height: 29px;
    position: absolute;
    top: 543px;
    left: 560px;
}

.c {
    width: 24px;
    height: 102px;
    position: absolute;
    top: 614px;
    left: 593px;
}

.b {
    width: 30px;
    height: 82px;
    position: absolute;
    top: 664px;
    left: 536px;
}

.a {
    width: 26px;
    height: 85px;
    position: absolute;
    top: 608px;
    left: 481px;
}

.f {
    width: 27px;
    height: 71px;
    position: absolute;
    top: 491px;
    left: 493px;
}

.m {
    width: 26px;
    height: 84px;
    position: absolute;
    top: 349px;
    left: 510px;
}

.z {
    width: 30px;
    height: 44px;
    position: absolute;
    top: 472px;
    left: 423px;
}

.v {
    width: 56px;
    height: 79px;
    position: absolute;
    top: 540px;
    left: 312px;
}

.x {
    width: 24px;
    height: 65px;
    position: absolute;
    top: 453px;
    left: 312px;
}

.w {
    width: 24px;
    height: 63px;
    border-radius: 4px;
    position: absolute;
    top: 449px;
    left: 249px;
}

.q {
    width: 25px;
    height: 65px;
    position: absolute;
    top: 539px;
    left: 234px;
}

.t {
    width: 26px;
    height: 52px;
    position: absolute;
    top: 449px;
    left: 208px;

}

.r2 {
    width: 25px;
    height: 60px;
    position: absolute;
    top: 530px;
    left: 174px;
}


.u {
    width: 40px;
    height: 50px;
    position: absolute;
    top: 400px;
    left: 128px;
}

    

.s {
    width: 25px;
    height: 98px;
    position: absolute;
    top: 473px;
    left: 138px;
}

.r {
    width: 23px;
    height: 70px;
    position: absolute;
    top: 605px;
    left: 166px;
}

.q2 {
    width: 27px;
    height: 58px;
    position: absolute;
    top: 617px;
    left: 198px;
}

.p {
    width: 67px;
    height: 39px;
    position: absolute;
    top: 718px;
    left: 312px;
}


.f2 {
    width: 30px;
    height: 32px;
    position: absolute;
    top: 444px;
    left: 472px;
}

.m2 {
    width: 30px;
    height: 28px;
    position: absolute;
    top: 448px;
    left: 508px;
}

.l {
    width: 46px;
    height: 37px;
    position: absolute;
    font-size: 8px;
    top: 608px;
    left: 407px;
}

.x2 {
    width: 36px;
    height: 22px;
    position: absolute;
    font-size: 10px;
    top: 359px;
    left: 297px;
}

.i {
    width: 25px;
    height: 25px;
    position: absolute;
    font-size: 8px;
    top: 460px;
    left: 695px;
}

/* estilo de ventana modal */
.modal-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
    margin-top: 2%;
    overflow: scroll;
}

.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    background-color: #fff;
    width: 600px;
    max-width: 100%;
    padding: 30px 40px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;

}

@media (min-width: 768px) {
    /* .modal-v2 {
        width: 1000px;
        max-width: 100%;
    }

    .modal-v3 {
        width: 800px;
        max-width: 100%;
    } */
}



/* footer */
.footer {
    background: var(--Oscuro);
    height: 10rem;
    color: var(--blanco);
    margin-top: 8rem;
}

.Copyright {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 1.4rem;
}

.Copyright p {
    font-size: 1.5rem;
}

.names {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    gap: 12px;
}






/* img fisico */

.modal__content {
    width: 85%;
    padding: 8px;
    /* position: absolute; */
    top: 78px;
    left: 55px;
    /* width: min-content; */
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    

}

.img__fisico {
    width: 85%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* boton cerrar de los modales */
.modal-container .btn-cerrar{
    width: 35%;
}